<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <form action="/getURL" method="post">
    <label for="url">Enter url: </label>
    <input id="url" type="text" name="url" value="Enter url need downdload images!">
    <input type="submit" value="OK">
  </form>

  <hr>

  <p>Support for websites:</p>
  <ul>
    <li>https://blogtruyen.vn/</li>
    <li>https://mangakakalot.com/</li>
  </ul>
</body>

</html>